<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: head">
        <meta charset="UTF-8"/>
        <title th:text="${title}"> Percurso </title>
    </head>
<body>

<div class="container corpo">
    <div class="row">
        <h1 th:text="${title}">Percurso</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-hover table-responsive" th:if="${!percursos.isEmpty()}">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Km</th>
                        <th>Descrição</th>
                        <th>Organizador</th>
                        <th colspan="2" class="text-center"> Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="percurso : ${percursos}">
                        <td th:text="${percurso.id}">Codigo</td>
                        <td th:text="${percurso.quilometragem}">Km</td>
                        <td th:text="${percurso.descricao}">Descrição</td>
                        <td th:text="${percurso.organizador.nome}">Organizador</td>

                        <td class="text-center"><a th:href="@{'/percurso/edit/' + ${percurso.id}}">Editar</a></td>
                        <td class="text-center"><a th:href="@{'/percurso/delete/' + ${percurso.id}}">Excluir</a></td>
                    </tr>
                </table>
                <h2 th:unless="${!percursos.isEmpty()}">Sem Percursos</h2>
                <a th:href="@{'~/percurso/add/'}" class="btn btn-primary"> Adicionar</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
