<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"> Corrida </title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragments :: nav"></nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{~/}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Organizador / <span th:text="${title}"></span></li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form action="/relatorio/gerarRelatorioOrganizador" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Relação de Todo os Organizadores</h3>
                                <a class="btn btn-danger" th:href="@{'~/relatorio/report_organizador'}">Relatorio de
                                    Todos Organizadores</a>
                                <br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" th:if="${!relatorio.equals('')}">
                                <a class="btn btn-danger"
                                   th:href="${'gerar/'}+${relatorio}+'/'+${tipo}+'/'+${parametro}">Baixar
                                    <span th:text="${relatorio}"> </span></a>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-body">
                    <form action="/relatorio/gerarRelatorioOrganizadorEstado" method="post">
                        <h3>Relatório Organizador por Estado</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group input-group">
                                        <select required class="form-control custom-select" name="estado" id="estado">
                                            <option value="" class="d-none">Selecione um Estado...</option>
                                            <option th:if="${operacao} == busca" th:each="estado: ${estados}"
                                                    th:value="${estado}" th:text="${estado}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="card-body">
                    <form action="/relatorio/gerarRelatorioOrganizadorSexo" method="post">
                        <h3>Relatório Organizador por Sexo</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sexo">Sexo:</label> <br>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="sexo" value="M"/> Masculino</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label><input type="radio" name="sexo" value="F"/> Feminino</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div th:replace="fragments :: div"></div>
</div>

<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © RAJ 2018</small>
        </div>
    </div>
</footer>
</body>
</html>
