<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h1>Lista de Admins</h1>

<table>
    <tr th:each="administrador : ${administradores}">
        <td th:text="${administrador.nome}">Nome</td>
        <td th:text="${administrador.email}">email</td>

        <td><a th:href="@{'/administrador/edit/' + ${administrador.id}}" >Editar</a></td>
        <td><a th:href="@{'/administrador/delete/' + ${administrador.id}}">Excluir</a></td>
    </tr>
</table>
<a th:href="@{~/administrador/add}">Adicionar</a>
</body>
</html>