<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${title}"> Deletar </h1>

<form th:object="${organizador}" method="post">
    <div class="form-group row">
        <label for="nome" class="col-2 col-form-label">Nome:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{nome}" type="text"  name="nome" id="nome" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="cpf" class="col-2 col-form-label">CPF:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{cpf}" type="text"  name="cpf" id="cpf" disabled>
        </div>
    </div>
   <div class="form-group row">
        <label for="bairro" class="col-2 col-form-label">Bairro:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{bairro}" type="text"  name="bairro" id="bairro" disabled>
        </div>
    </div>
    <div class="form-group row">
         <label for="celular" class="col-2 col-form-label">Celular</label>
         <div class="col-10">
             <input class="form-control" th:value="*{celular}" type="text"  name="celular" id="celular" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="cep" class="col-2 col-form-label">CEP:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{cep}" type="text"  name="cep" id="cep" disabled>
         </div>
     </div>
     <div class="form-group row">
        <label for="cidade" class="col-2 col-form-label">Cidade:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{cidade}" type="text"  name="cidade" id="cidade" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="complemento" class="col-2 col-form-label">Complemento:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{complemento}" type="text"  name="complemento" id="complemento" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="dataNascimento" class="col-2 col-form-label">Data de Nascimento:</label>
        <div class="col-10">
            <input class="form-control" th:value="*{dataNascimento}" type="text"  name="dataNascimento" id="dataNascimento" disabled>
        </div>
    </div>
     <div class="form-group row">
         <label for="email" class="col-2 col-form-label">E-mail:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{email}" type="text"  name="email" id="email" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="estado" class="col-2 col-form-label">Estado:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{estado}" type="text"  name="estado" id="estado" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="logradouro" class="col-2 col-form-label">Lougradouro:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{logradouro}" type="text"  name="logradouro" id="logradouro" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="numero" class="col-2 col-form-label">Numero:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{numero}" type="text"  name="numero" id="numero" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="senha" class="col-2 col-form-label">Senha:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{senha}" type="text"  name="senha" id="senha" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="sexo" class="col-2 col-form-label">Sexo:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{sexo}" type="text"  name="sexo" id="sexo" disabled>
         </div>
     </div>
     <div class="form-group row">
         <label for="telefone" class="col-2 col-form-label">Telefone:</label>
         <div class="col-10">
             <input class="form-control" th:value="*{telefone}" type="text"  name="telefone" id="telefone" disabled>
         </div>
     </div>
    <div class="form-group row">
        <input type="submit" class="btn btn-success" value="Deletar organizador"/>
    </div>
</form>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>