<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h1>Lista de Organizadores</h1>

<table>
    <tr th:each="organizador : ${organizadores}">
        <td th:text="${organizador.nome}">Nome</td>
        <td th:text="${organizador.cpf}">Cpf</td>
        <td th:text="${organizador.bairro}">bairro</td>
        <td th:text="${organizador.celular}">celular</td>
        <td th:text="${organizador.cep}">cep</td>
        <td th:text="${organizador.cidade}">cidade</td>
        <!-- <td th:text="${organizador.complemento}">complemento</td>
         <td th:text="${organizador.dataNascimento}">Data de Nascimento</td>
         <td th:text="${organizador.email}">email</td>
         <td th:text="${organizador.estado}">estado</td>
         <td th:text="${organizador.logradouro}">lourogradoro</td>
         <td th:text="${organizador.numero}">numero</td>
         <td th:text="${organizador.senha}">senha</td>
         <td th:text="${organizador.sexo}">sexo</td>
         <td th:text="${organizador.telefone}">telefone</td>-->
        <td><a th:href="@{'/organizador/edit/' + ${organizador.id}}" >Editar</a></td>
        <td><a th:href="@{'/organizador/delete/' + ${organizador.id}}">Excluir</a></td>
    </tr>
</table>
<a th:href="@{~/organizador/add}">Adicionar</a>
</body>
</html>