<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"> Inscrição </title>
</head>
<body>

<div class="container corpo">
    <div class="row">
        <h1 th:text="${title}">Inscrição</h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-hover table-responsive" th:if="${!inscricoes.isEmpty()}">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Data Compra</th>
                        <th>Nº Peito</th>
                        <th colspan="2">Acão</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inscricao : ${inscricoes}">
                        <td th:text="${inscricao.id}">Codigo</td>
                        <td th:text="${inscricao.dataCompra}">Data Compra</td>
                        <td th:text="${inscricao.numeroPeito}">Máx Pessoa</td>
                        <td><a th:href="@{'/inscricao/edit/' + ${inscricao.id}}">Editar</a></td>
                        <td><a th:href="@{'/inscricao/delete/' + ${inscricao.id}}">Excluir</a></td>
                    </tr>
                </table>
                <h2 th:unless="${!inscricoes.isEmpty()}">Sem Inscrições</h2>

                <a  class="btn btn-primary" th:href="@{'~/inscricao/add/'}">Adicionar</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>