<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments :: head"></head>-->
<body>
<h1>Lista de Atletas</h1>

<table>
    <!--<tr th:each="atleta : ${atletas}">-->
        <!--<td th:text="${atleta.nome}">Nome</td>-->
        <!--<td th:text="${atleta.cpf}">Cpf</td>-->
        <!--<td><a th:href="@{'/atleta/edit/' + ${atleta.id}}" >Editar</a></td>-->
        <!--<td><a th:href="@{'/atleta/delete/' + ${atleta.id}}">Excluir</a></td>-->
    <!--</tr>-->
<tr>
    <td> Ola friend</td>
</tr>
</table>
<!--<a th:href="@{~/atleta/add}">Adicionar</a>-->
</body>
</html>