<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Atleta</title>
    <script src="/js/myscript.js"></script>
</head>
<body class="sticky-footer bg-dark" id="page-top">
<br>
<div class="container corpo">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header" th:text="${title}">Atleta</h5>
                <div class="card-body">
                    <form th:object="${atleta}" method="post">
                        <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nome">Nome Completo:</label>
                                <input type="text" required class="form-control" id="nome" name="nome"
                                       th:value="${atleta?.nome}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="cpf">CPF:</label>
                                <input type="text" required class="form-control" id="cpf"
                                       placeholder="xxx.xxx.xxx-xx" onkeydown="fMasc(this, mCPF);"
                                       name="cpf" th:value="${atleta?.cpf}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="dtNasc">Data Nascimento:</label>
                                <input type="text" required class="form-control" id="dtNasc"
                                       placeholder="__/__/____" onkeypress="mascaraData(this, event)"
                                       name="dataNascimento" th:value="${atleta?.dataNascimento}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="apelido">Apelido:</label>
                                <input type="text" class="form-control" id="apelido" name="apelido"
                                       th:value="${atleta?.apelido}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="tamCamisa">Tamanho Camisa:</label>
                                <select name="tamCamisa" id="tamCamisa" class="form-control"
                                        th:disabled="${operacao} == deletar" required>
                                    <option th:selected="${atleta?.tamCamisa}  == 'P'" value="P"> P</option>
                                    <option th:selected="${atleta?.tamCamisa}  == 'M'" value="M"> M</option>
                                    <option th:selected="${atleta?.tamCamisa}  == 'G'" value="G"> G</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cel">Celular</label>
                                <input type="tel" required class="form-control" id="cel"
                                       placeholder="(xx) x xxxx-xxxx" onkeydown="fMasc(this, mTel);"
                                       name="celular" th:value="${atleta?.celular}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone:</label>
                                <input type="tel" required class="form-control" id="telefone"
                                       placeholder="(xx) x xxxx-xxxx" name="telefone"
                                       onkeydown="fMasc(this, mTel);" th:value="${atleta?.telefone}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>

                            <div class="form-group">
                                <label for="sexo">Sexo:</label> <br>
                                <div class="radio-inline">
                                    <label><input id="sexo" type="radio" name="sexo" value="M" checked
                                                  th:disabled="${operacao} == deletar"/> Masculino</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input input id="sexo" type="radio" name="sexo" value="F" checked
                                                  th:disabled="${operacao} == deletar"/> Feminino</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cep">CEP:</label>
                                <input type="text" class="form-control" id="cep" name="cep" required
                                       onblur="pesquisacep(this.value);" th:value="${atleta?.cep}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="cidade">Cidade:</label>
                                <input type="text" class="form-control" id="cidade" name="cidade" required
                                       th:value="${atleta?.cidade}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="logradouro">Logradouro:</label>
                                <input type="text" class="form-control" id="logradouro" name="logradouro" required
                                       th:value="${atleta?.logradouro}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="bairro">Bairro:</label>
                                <input type="text" class="form-control" id="bairro" name="bairro" required
                                       th:value="${atleta?.bairro}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="numero">Número:</label>
                                <input type="text" class="form-control" id="numero" name="numero" required
                                       th:value="${atleta?.numero}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <input type="text" class="form-control" id="estado" name="estado" required
                                       th:value="${atleta?.estado}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="complemento">Complemento:</label>
                                <input type="text" class="form-control" id="complemento" name="complemento"
                                       th:value="${atleta?.complemento}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div><input name="ibge" type="hidden" id="ibge" size="8"/><br/></div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="email" class="form-control" id="email" name="email" required
                                       th:value="${atleta?.email}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="senha1">Senha:</label>
                                <input type="password" class="form-control" id="senha1" name="senha" required
                                       autocomplete th:value="${atleta?.senha}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="senha2">Confirmar Senha:</label>
                                <input type="password" class="form-control" id="senha2" name="senha2" required
                                       oninput="validaSenha(this)" th:value="${atleta?.senha}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="checkbox" th:if="${operacao} == adicionar">
                                <label><input type="checkbox" name="agree" required id="agree"> Aceito e Concordo
                                    com os <a href="#">Termos</a></label>
                            </div>
                            <div class="form-group">
                                <a href="/atleta/" class="btn btn-danger" style="text-decoration: none">
                                    Cancelar
                                </a>

                                <input type="submit" class="btn btn-success" th:value="${botaoOperacao}"
                                       name="btnConfirmar"/>

                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>