<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"> Atleta </title>

</head>
<body>

<div class="container corpo">
    <div class="row">
        <h1 th:text="${title}">Atleta</h1>
        <div class="col-md-12">
            <div class="card-body">
                <form action="/atleta/busca" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nome">Nome Completo:</label>
                                <input type="text"  class="form-control" id="nome" name="nome"/>
                                <button class="btn btn-success" type="submit">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                           th:if="${!atletas.isEmpty()}">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Data Nascimento</th>
                            <th>Tamanho Camisa</th>
                            <th>Celular</th>
                            <th colspan="2" class="text-center">Acao</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="atleta : ${atletas}">
                            <td th:text="${atleta.id}">Codigo</td>
                            <td th:text="${atleta.nome}">Nome</td>
                            <td th:text="${atleta.email}">Email</td>
                            <td th:text="${atleta.dataNascimento}">Data Nascimento</td>
                            <td th:text="${atleta.tamCamisa}">Tamanho Camisa</td>
                            <td th:text="${atleta.celular}">Celular</td>
                            <td><a th:href="@{'/atleta/edit/' + ${atleta.id}}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a></td>
                            <td><a th:href="@{'/atleta/delete/' + ${atleta.id}}">
                                <i class="fa fa-trash" aria-hidden="true"></i> Excluir</a></td>
                        </tr>
                    </table>
                </div>
                <h2 th:unless="${!atletas.isEmpty()}">Sem Atletas</h2>
                <a class="btn btn-primary" th:href="@{'~/atleta/add/'}">Adicionar</a>
                <a class="btn btn-dark" th:href="@{'~/'}">Voltar</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
