<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Boleto</title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div class="container corpo">
    <div class="row">
        <h1 th:text="${title}"> Operação </h1>
        <div class="col-md-12">
            <div class="card ">
                <h5 class="card-header" th:text="${title}">Boleto</h5>
                <div class="card-body">
                    <form th:object="${boleto}" method="post">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="codigobarra">código de barras</label>
                                <input type="text" required class="form-control" id="codigobarra" name="codigobarra"
                                       th:value="${boleto?.codigobarra}" th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="dataemissao">data de emissão</label>
                                <input type="text" required class="form-control" id="dataemissao"
                                       placeholder="__/__/____" onkeypress="mascaradata(this, event)"
                                       name="dataemissao" th:value="${boleto?.dataemissao}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>
                            <div class="form-group">
                                <label for="datavencimento">data de vencimento</label>
                                <input type="text" required class="form-control" id="datavencimento"
                                       placeholder="__/__/____" onkeypress="mascaradata(this, event)"
                                       name="datavencimento" th:value="${boleto?.datavencimento}"
                                       th:disabled="${operacao} == deletar"/>
                            </div>

                            <div class="form-group">
                                <a href="/boleto/" style="text-decoration: none">
                                    <button type="button" class="btn btn-danger">cancelar</button>
                                </a>

                                <input type="submit" class="btn btn-success" th:value="${botaooperacao}"
                                       name="btnconfirmar"/>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>