<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Lote</title>
</head>
<body>

<div class="container corpo">
    <div class="row">
        <h1 th:text="${title}"> Operação </h1>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <form th:object="${lote}" method="post">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tipo">Tipo:</label>
                            <input type="text" required class="form-control" id="tipo" name="tipo"
                                   th:value="${lote?.tipo}" th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="preco">Preço:</label>
                            <input type="number" required class="form-control" id="preco"
                                   name="preco" th:value="${lote?.preco}"
                                   th:disabled="${operacao} == deletar"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dataInicio">Data Inicio:</label>
                            <input type="datetime-local" required class="form-control" id="dataInicio"
                                   name="dataInicio" th:value="${lote?.dataInicio}"
                                   th:disabled="${operacao} == deletar"/>
                        </div>
                        <div class="form-group">
                            <label for="dataFinal">Data Final:</label>
                            <input type="datetime-local" required class="form-control" id="dataFinal"
                                   name="dataFinal" th:value="${lote?.dataFinal}"
                                   th:disabled="${operacao} == deletar"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="corrida">Corrida:</label>
                            <select name="corrida" id="corrida" th:disabled="${operacao} == deletar">
                                <option th:if="${operacao} == adicionar" th:each="corrida : ${corridas}"
                                        th:value="${corrida.id}" th:text="${corrida.nome}"></option>

                                <option th:if="${operacao} != adicionar" th:each="corrida : ${corridas}"
                                        th:value="${corrida?.id}" th:text="${corrida.nome}"
                                        th:selected="${corrida?.id==lote.corrida.getId()}"></option>
                            </select>
                        </div>


                        <div class="form-group">
                            <a href="/lote/" style="text-decoration: none">
                                <button type="button" class="btn btn-danger">Cancelar</button>
                            </a>

                            <input type="submit" class="btn btn-success" th:value="${botaoOperacao}"
                                   name="btnConfirmar"/>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>