<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav th:replace="fragments :: nav"></nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active"><span th:text="${title}"></span></li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" th:unless="${msgSucesso == null}">
                    <span th:text="${msgSucesso}"></span>
                </div>
                <div class="alert alert-danger" role="alert" th:unless="${msgErro == null}">
                    <span th:text="${msgErro}"></span>
                </div>
                <div class="card">
                    <h5 class="card-header" th:text="${title}">Corrida</h5>
                    <div class="card-body">
                        <form th:object="${lote}" method="post">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo">Tipo:</label>
                                    <input type="text" required class="form-control" id="tipo" name="tipo"
                                           th:value="${lote?.tipo}" th:disabled="${operacao} == deletar"/>
                                </div>
                                <div class="form-group">
                                    <label for="preco">Preço:</label>
                                    <input type="number" required class="form-control" id="preco"
                                           name="preco" th:value="${lote?.preco}"
                                           th:disabled="${operacao} == deletar"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dataInicio">Data Inicio:</label>
                                    <input type="datetime-local" required class="form-control" id="dataInicio"
                                           name="dataInicio" th:value="${lote?.dataInicio}"
                                           th:disabled="${operacao} == deletar"/>
                                </div>
                                <div class="form-group">
                                    <label for="dataFinal">Data Final:</label>
                                    <input type="datetime-local" required class="form-control" id="dataFinal"
                                           name="dataFinal" th:value="${lote?.dataFinal}"
                                           th:disabled="${operacao} == deletar"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="corrida">Corrida:</label>
                                    <select name="corrida" id="corrida" th:disabled="${operacao} == deletar">
                                        <option th:if="${operacao} == adicionar" th:each="corrida : ${corridas}"
                                                th:value="${corrida.id}" th:text="${corrida.nome}"></option>

                                        <option th:if="${operacao} != adicionar" th:each="corrida : ${corridas}"
                                                th:value="${corrida?.id}" th:text="${corrida.nome}"
                                                th:selected="${corrida?.id==lote.corrida.getId()}"></option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <a href="/lote/" style="text-decoration: none" class="btn btn-danger">
                                        Cancelar </a>
                                    <input type="submit" class="btn btn-success" th:value="${botaoOperacao}"
                                           name="btnConfirmar"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: div"></div>
</div>
</body>
</html>