<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Adicionar </h1>

<form method="post">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome"/>
    <label for="data">Data</label>
    <input type="text" id="data" name="data"/>
    <label for="maxPessoas">Máx Pessoas</label>
    <input type="number" id="maxPessoas" name="maxPessoas"/>
    <input type="submit" value="Adicionar corrida"/>
</form>

</body>
</html>