<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Deletar </h1>

<form th:object="${corrida}" method="post">
    <input th:value="*{nome}" type="text" name="corridaNome" disabled/>
    <input th:value="*{data}" type="text" name="corridaData" disabled/>
    <input th:value="*{totalParticipantes}" type="text" name="corridaTotalParticipantes" disabled/>
    <input type="submit" value="Deletar corredor"/>
</form>

</body>
</html>